/* Icon */

.icon {
    border-bottom: none;
    position: relative;

    > .label {
        display: none;
    }
}

.menu-icon {
    vertical-align: middle;
    padding-bottom: 3px;
}
