<header id="header" class="alt">
    <div class="logo">
        <a href="{{ config.base_url }}"><strong>Not For Profit</strong>.Earth</a>
    </div>
    <nav id="nav">
        <ul>
            <li class="current"><a href="{{ config.base_url }}">Home</a></li>
            <li>
                <a href="#" class="icon">Dropdown<i class="menu-icon" data-feather="chevron-down"></i></a>
                <ul>
                    <li><a href="#">Option One</a></li>
                    <li><a href="#">Option Two</a></li>
                    <li><a href="#">Option Three</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Option One</a></li>
                            <li><a href="#">Option Two</a></li>
                            <li><a href="#">Option Three</a></li>
                            <li><a href="#">Option Four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<section id="banner">
    <div class="content">
        <h1>{{ config.title }}</h1>
        <p>{{ config.description }}</p>
    </div>
    <a href="#first" class="more scrolly">Learn More</a>
</section>

