{% block head %}
<header id="header" class="alt">
{% endblock head %}
    <div class="logo">
        <a href="{{ config.base_url }}"><strong>Not For Profit</strong>.Earth</a>
    </div>
    <nav id="nav">
        <ul>
            <li class="current"><a href="{{ config.base_url }}">Home</a></li>
            <li>
                <a href="#overview" class="icon scrolly">Overview<i class="menu-icon" data-feather="chevron-down"></i></a>
                <ul>
                    <li><a href="#">How On Earth</a></li>
                    <li><a href="#">PGI</a></li>
                </ul>
            </li>
            <li><a href="#locate" class="scrolly">Locate</a></li>
            <li><a href="#helpout" class="scrolly">Get Involved</a></li>
            <li><a href="#contact" class="scrolly">Contact</a></li>
        </ul>
    </nav>
</header>
