<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon"><i data-feather="twitter"></i><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon"><i data-feather="facebook"></i><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon"><i data-feather="instagram"></i><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/Libbum/notforprofit" class="icon"><i data-feather="github"></i><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon"><i data-feather="phone"></i><span class="label">Phone</span></a></li>
        <li><a href="#" class="icon"><i data-feather="mail"></i><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; 2018&dash;2019 &mdash; Tim DuBois</p>
</footer>

