{% extends "base.html" %}

{% block content %}
<section id="banner">
    <div class="content">
        <h1>{{ config.title }}</h1>
        <p>{{ config.description }}</p>
    </div>
    <a href="#overview" class="more scrolly">Learn More</a>
</section>

            <section class="main alt" id="overview">
                <header>
                    <h2>What exactly is a Not For Profit?</h2>
                    <p>A few paragraphs of introduction, motivation for this page <i>etc.</i> Probably not the greatest to plug things here, but I guess your book and PGI are closely related to what we want here; so they're good placeholders.</p>
                </header>
                <div class="inner">
                    <article class="post style2">
                        <div class="content">
                            <header>
                                <span class="category">What's the plan?</span>
                                <h3>How on Earth</h3>
                            </header>
                            <p>There is a way our economy can work for everyone. It involves profits circulating continuously through our economic system, rather than accumulating at the top.</p>
                            <ul class="actions">
                                <li><a href="/howonearth" class="button">Read More <i data-feather="chevron-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="image" data-position="center"><img src="/images/howonearth.png" alt="" /></div>
                    </article>
                    <article class="post style2 alt">
                        <div class="content">
                            <header>
                                <span class="category">Rethinking Economy</span>
                                <h3>Post Growth?</h3>
                            </header>
                            <p>We need an economy that naturally circulates money rather than concentrating it, an economy that puts people's needs ahead of corporate greed, an economy that gives more than it takes from our life-supporting environment.</p>
                            <ul class="actions">
                                <li><a href="/pgi" class="button">Learn More <i data-feather="chevron-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="image" data-position="center"><img src="/images/postgrowth.png" alt="" /></div>
                    </article>
                </div>
            </section>

            <section class="main" id="locate">
                <header>
                    <h2>Find Not For Profit Entities in Your Area</h2>
                    <p>Businesses of interest to you are listed on the map below. We can easily add filters, search and additional information here.</p>
                </header>
                <div class="inner">
                    <div id="map"></div>
                    <div id="popup" class="ol-popup">
                        <a href="#" id="popup-closer" class="icon"><i data-feather="x"></i></a>
                        <div id="popup-content"></div>
                    </div>
                </div>
            </section>

            <section class="main accent2" id="helpout">
                <header>
                    <h2>How can you contribute?</h2>
                    <p>Some information to the reader on what they can personally do.</p>
                </header>
                <div class="inner">
                    <article class="post alt">
                        <div class="content">
                            <header>
                                <span class="category">Are you a not for profit?</span>
                                <h3>Add your details to the database</h3>
                            </header>
                            <p>Include your business in the not for profit database so that others may find you.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Submit <i data-feather="chevron-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="image" data-position="center"><img src="/images/business.png" alt="" /></div>
                    </article>
                    <article class="post">
                        <div class="content">
                            <header>
                                <span class="category">Are you an individual?</span>
                                <h3>Support the transition</h3>
                            </header>
                            <p>Under the current system, non profit businesses may not be the cheapest or most convenient, but there are good reasons this should not persuade you.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Learn More <i data-feather="chevron-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="image" data-position="center"><img src="/images/individual.png" alt="" /></div>
                    </article>
                    <article class="post alt">
                        <div class="content">
                            <header>
                                <span class="category">Are you a researcher or policy maker?</span>
                                <h3>Help invent the future</h3>
                            </header>
                            <p>We need people like you to shape policy, society and the economy.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Learn More <i data-feather="chevron-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="image" data-position="center"><img src="/images/research.png" alt="" /></div>
                    </article>
                </div>
            </section>

            <section class="main alt special" id="contact">
                <header>
                    <h2>Get in touch</h2>
                    <p>Is there anything else you'd like to know, or wish was included in this database? Let us know!</p>
                </header>
                <div class="inner narrow">
                    <form action="#" method="post">
                        <div class="fields">
                            <div class="field half">
                                <input name="name" id="name" placeholder="Name" type="text" />
                            </div>
                            <div class="field half">
                                <input name="email" id="email" placeholder="Email" type="email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li><button class="button" type="submit">Send Message <i data-feather="send"></i></button></li>
                        </ul>
                    </form>
                </div>
            </section>
{% endblock content %}
